<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>OpenTTS</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="img/favicon.png">

        <!-- Custom styles for this template -->
        <style>
         body {
             padding-top: 1rem;
         }

         .dropdown .btn:hover {
             color: white;
             background: #0069d9;
         }

        .checkbox-menu li label {
            display: block;
            padding: 3px 10px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
            margin:0;
        }
        .checkbox-menu li input {
            margin: 0px 5px;
            top: 2px;
            position: relative;
        }


        .checkbox-menu li label:hover,
        .checkbox-menu li label:focus {
            background-color: #0069d9;
            color: white;
        }

        .checkbox-menu li.active label:hover,
        .checkbox-menu li.active label:focus {
            background-color: #0069d9;
            color: white;
        }        
        </style>
    </head>
    <body class="bg-dark text-light">
        <!-- Borrowed from Mozilla TTS -->
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <a title="Github project" href="https://github.com/synesthesiam/opentts">
                        <img src="img/terminal.svg" alt=></img>
                    </a>
                    <h1 class="mt-2">
                        OpenTTS
                    </h1>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <textarea id="text" placeholder="Type here..." class="form-control" rows="8" name="text"></textarea>
                </div>
                <div class="col-auto">
                    <button id="speak-button" name="speak" class="btn btn-lg btn-primary">Speak</button>
                    <br/><br />
                    <a href="/openapi/" title="OpenAPI page" class="badge badge-info">API</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-auto">
                    <select id="language-list" name="languages" onchange="changeLanguage()">
                    </select>
                    <select id="voice-list" name="voices" onchange="changeVoice()">
                    </select>
                </div>
                <div id="speaker-id-div" style="display: none;">
                  <select id="speaker-id">
                  </select>
                </div>
                <div class="col-auto">
                  <input type="checkbox" id="ssml">
                  <label class="ml-1" for="ssml">SSML</label>
                </div>
                <div class="col-auto" id="ssml-settings" style="display:none;">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Replace
                    </button>
                    <ul class="dropdown-menu checkbox-menu allow-focus">
                      <li >
                        <label>
                          <input type="checkbox" id="ssml-numbers" checked> Numbers
                        </label>
                      </li>
                      <li >
                        <label>
                          <input type="checkbox" id="ssml-dates" checked> Dates
                        </label>
                      </li>
                      <li >
                        <label>
                          <input type="checkbox" id="ssml-currency" checked> Currency
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-auto" id="larynx-settings">
                    <select id="vocoder-list" name="vocoders">
                        <option value="high" selected>High Quality</option>
                        <option value="medium">Medium Quality</option>
                        <option value="low">Low Quality</option>
                    </select>
                    <label for="denoiser-strength" class="ml-2">Denoiser:</label>
                    <input type="number" id="denoiser-strength" name="denoiser" min="0" max="1" step="0.001" value="0.01">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-auto">
                    <strong>Voice id:</strong> <span id="voice-id"></span>
                </div>
                {% if cache: %}
                <div class="ml-3 col-auto">
                    <input id="use-cache" type="checkbox" checked>
                    <label for="use-cache">Cache</label>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col">
                    <audio id="audio" controls autoplay hidden></audio>
                    <p id="message"></p>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="js/popper.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <script>
          var voice_speakers = {}

          function q(selector) {return document.querySelector(selector)}
          q('#text').focus()
          function do_tts(e) {
              var text = q('#text').value
              if (text) {
                  q('#message').textContent = 'Synthesizing...'
                  q('#speak-button').disabled = true
                  q('#audio').hidden = true
                  synthesize(text)
              }
              e.preventDefault()
              return false
          }
          q('#speak-button').addEventListener('click', do_tts)
          async function synthesize(text) {
              var voiceList = q('#voice-list')
              var voice = voiceList.options[voiceList.selectedIndex].value

              var languageList = q('#language-list')
              var lang = languageList.options[languageList.selectedIndex].value || ''

              var vocoderList = q('#vocoder-list')
              var vocoder = vocoderList.options[vocoderList.selectedIndex].value || ''
              var denoiserStrength = q('#denoiser-strength').value

              var speakerId = ''
              if (voice_speakers[voice]) {
                  speakerId = q('#speaker-id').value
              }

              var useCache = 'false';
              if (q('#use-cache')) {
                  useCache = q('#use-cache').checked ? 'true' : 'false'
              }

              var ssml = q('#ssml').checked ? 'true' : 'false'
              var ssmlNumbers = q('#ssml-numbers').checked ? 'true' : 'false'
              var ssmlDates = q('#ssml-dates').checked ? 'true' : 'false'
              var ssmlCurrency = q('#ssml-currency').checked ? 'true' : 'false'

              var startTime = performance.now()

              res = await fetch(
                  '/api/tts?voice=' + encodeURIComponent(voice) +
                      '&lang=' + encodeURIComponent(lang) +
                      '&vocoder=' + encodeURIComponent(vocoder) +
                      '&denoiserStrength=' + encodeURIComponent(denoiserStrength) +
                      '&text=' + encodeURIComponent(text) +
                      '&speakerId=' + encodeURIComponent(speakerId) +
                      '&ssml=' + encodeURIComponent(ssml) +
                      '&ssmlNumbers=' + encodeURIComponent(ssmlNumbers) +
                      '&ssmlDates=' + encodeURIComponent(ssmlDates) +
                      '&ssmlCurrency=' + encodeURIComponent(ssmlCurrency) +
                      '&cache=' + encodeURIComponent(useCache),
                  {cache: 'no-cache'}
              )

              if (res.ok) {
                  blob = await res.blob()
                  var elapsedTime = performance.now() - startTime

                  q('#message').textContent = (elapsedTime / 1000) + ' second(s)'
                  q('#speak-button').disabled = false
                  q('#audio').src = URL.createObjectURL(blob)
                  q('#audio').hidden = false
              } else {
                  message = await res.text()
                  q('#message').textContent = message
                  q('#speak-button').disabled = false
              }
          }

          function changeLanguage() {
              // Load voices for language
              var languageList = q('#language-list')
              var language = languageList.options[languageList.selectedIndex].value
              loadVoices(language)
          }

          function changeVoice() {
              var voiceList = q('#voice-list')
              var voice = voiceList.options[voiceList.selectedIndex].value
              q('#voice-id').innerHTML = voice

              if (voice.startsWith('larynx:') || voice.startsWith('glow-speak:')) {
                  q('#larynx-settings').style.visibility = "visible";
              } else {
                  q('#larynx-settings').style.visibility = "hidden";
              }

              // Clear speaker ids
              speaker_id_select = q('#speaker-id')
              for (var i = speaker_id_select.options.length - 1; i >= 0; i--) {
                  speaker_id_select.options[i].remove()
              }

              speakers = voice_speakers[voice]
              if (speakers) {
                  $('#speaker-id-div').show()
                  Object.entries(speakers).forEach(function(si) {
                      speaker_id_select.insertAdjacentHTML(
                          'beforeend', '<option value="' + si[0] + '">' + si[0] + " (" + si[1].toString() + ")" + '</option>'
                      )
                  })

                  speaker_id_select.selectedIndex = 0
              } else {
                  $('#speaker-id-div').hide()
              }
          }

          function loadVoices(language) {
              // Remove previous voices
              var voiceList = q('#voice-list')
              for (var i = voiceList.options.length - 1; i >= 0; i--) {
                  voiceList.options[i].remove()
              }

              fetch('/api/voices?language=' + encodeURIComponent(language))
                  .then(function(res) {
                      if (!res.ok) throw Error(res.statusText)
                      return res.json()
                  }).then(function(voices) {
                      Object.entries(voices).forEach(function(id_voice) {
                          var id = id_voice[0]
                          var voice = id_voice[1]
                          var description = voice.tts_name + ': ' + voice.name + ' [' + voice.gender + '] (' + voice.locale + ')'
                          voiceList.insertAdjacentHTML(
                              'beforeend', '<option value="' + id + '">' + description + '</option>'
                          )

                          // Set speaker name -> speaker id for multi-speaker models
                          if (voice.multispeaker && voice.speakers) {
                              voice_speakers[id] = voice.speakers
                          } else {
                              voice_speakers[id] = null
                          }
                      })

                      changeVoice()
                  }).catch(function(err) {
                      q('#message').textContent = 'Error: ' + err.message
                      q('#speak-button').disabled = false
                  })
          }

          function toggleSSMLSettings() {
              if (q("#ssml").checked) {
                  $("#ssml-settings").show()
              }
              else {
                  $("#ssml-settings").hide()
              }
          }

          $("#ssml").on("change", toggleSSMLSettings)

          window.addEventListener('load', function() {
              var defaultLanguage = '{{ default_language }}'

              fetch('/api/languages')
                  .then(function(res) {
                      if (!res.ok) throw Error(res.statusText)
                      return res.json()
                  }).then(function(languages) {
                      languages.sort()
                      var languageList = q('#language-list')
                      languages.forEach(function(language) {
                          selected = (language == defaultLanguage) ? 'selected' : ''
                          languageList.insertAdjacentHTML(
                              'beforeend', '<option value="' + language + '" ' + selected + '>' + language + '</option>'
                          )
                      })

                      loadVoices(defaultLanguage)
                  }).catch(function(err) {
                      q('#message').textContent = 'Error: ' + err.message
                      q('#speak-button').disabled = false
                  })

              toggleSSMLSettings()
          })

          $(".checkbox-menu").on("change", "input[type='checkbox']", function() {
              $(this).closest("li").toggleClass("active", this.checked);
          });

          $(document).on('click', '.allow-focus', function (e) {
              e.stopPropagation();
          });

          </script>
    </body>
</html>
