<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>OpenTTS</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="img/favicon.png">

        <!-- Custom styles for this template -->
        <style>
         body {
             padding-top: 1rem;
         }
        </style>
    </head>
    <body>
        <!-- Borrowed from Mozilla TTS -->
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <a title="Github project" href="https://github.com/synesthesiam/opentts">
                        <img src="img/terminal.svg" alt=></img>
                    </a>
                    <h1 class="mt-2">
                        OpenTTS
                    </h1>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <textarea id="text" placeholder="Type here..." class="form-control" rows="3" name="text"></textarea>
                </div>
                <div class="col-auto">
                    <button id="speak-button" name="speak" class="btn btn-lg btn-primary">Speak</button>
                    <br/><br/>
                    <a href="/api/" title="OpenAPI page" class="badge badge-info">API</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-auto">
                    <select id="language-list" name="languages" onchange="changeLanguage()">
                    </select>
                    <select id="voice-list" name="voices" onchange="changeVoice()">
                    </select>
                </div>
                <div class="col-auto" id="larynx-settings">
                    <select id="vocoder-list" name="vocoders">
                        <option value="waveglow:wn_256" selected>Best Quality</option>
                        <option value="hifi_gan:universal_large" selected>High Quality</option>
                        <option value="hifi_gan:vctk_medium">Medium Quality</option>
                        <option value="hifi_gan:vctk_small">Low Quality</option>
                    </select>
                    <label for="denoiser-stregth" class="ml-2">Denoiser:</label>
                    <input type="number" id="denoiser-strength" name="denoiser" min="0" max="1" step="0.01" value="0">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <strong>Voice id:</strong> <span id="voice-id"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <audio id="audio" controls autoplay hidden></audio>
                    <p id="message"></p>
                </div>
            </div>
        </div>

        <script>
         function q(selector) {return document.querySelector(selector)}
         q('#text').focus()
         function do_tts(e) {
             var text = q('#text').value
             if (text) {
                 q('#message').textContent = 'Synthesizing...'
                 q('#speak-button').disabled = true
                 q('#audio').hidden = true
                 synthesize(text)
             }
             e.preventDefault()
             return false
         }
         q('#speak-button').addEventListener('click', do_tts)
         async function synthesize(text) {
             var voiceList = q('#voice-list')
             var voice = voiceList.options[voiceList.selectedIndex].value

             var vocoderList = q('#vocoder-list')
             var vocoder = vocoderList.options[vocoderList.selectedIndex].value || ''
             var denoiserStrength = q('#denoiser-strength').value

             var startTime = performance.now()

             res = await fetch(
                 '/api/tts?voice=' + encodeURIComponent(voice) +
                 '&vocoder=' + vocoder +
                 '&denoiserStrength=' + denoiserStrength +
                 '&text=' + encodeURIComponent(text),
                 {cache: 'no-cache'}
             )

             if (res.ok) {
                 blob = await res.blob()
                 var elapsedTime = performance.now() - startTime

                 q('#message').textContent = (elapsedTime / 1000) + ' second(s)'
                 q('#speak-button').disabled = false
                 q('#audio').src = URL.createObjectURL(blob)
                 q('#audio').hidden = false
             } else {
                 message = await res.text()
                 q('#message').textContent = message
                 q('#speak-button').disabled = false
             }
         }

         function changeLanguage() {
             // Load voices for language
             var languageList = q('#language-list')
             var language = languageList.options[languageList.selectedIndex].value
             loadVoices(language)
         }

         function changeVoice() {
             var voiceList = q('#voice-list')
             var voice = voiceList.options[voiceList.selectedIndex].value
             q('#voice-id').innerHTML = voice

             if (voice.startsWith("larynx:")) {
                 q('#larynx-settings').style.visibility = "visible";
             } else {
                 q('#larynx-settings').style.visibility = "hidden";
             }
         }

         function loadVoices(language) {
             // Remove previous voices
             var voiceList = q('#voice-list')
             for (var i = voiceList.options.length - 1; i >= 0; i--) {
                 voiceList.options[i].remove()
             }

             fetch('/api/voices?language=' + encodeURIComponent(language))
                 .then(function(res) {
                     if (!res.ok) throw Error(res.statusText)
                     return res.json()
                 }).then(function(voices) {
                     Object.entries(voices).forEach(function(id_voice) {
                         var id = id_voice[0]
                         var voice = id_voice[1]
                         var description = voice.tts_name + ': ' + voice.name + ' [' + voice.gender + '] (' + voice.locale + ')'
                         voiceList.insertAdjacentHTML(
                             'beforeend', '<option value="' + id + '">' + description + '</option>'
                         )
                     })

                     changeVoice()
                 }).catch(function(err) {
                     q('#message').textContent = 'Error: ' + err.message
                     q('#speak-button').disabled = false
                 })
         }

         window.addEventListener('load', function() {
             var defaultLanguage = 'en'

             fetch('/api/languages')
                 .then(function(res) {
                     if (!res.ok) throw Error(res.statusText)
                     return res.json()
                 }).then(function(languages) {
                     languages.sort()
                     var languageList = q('#language-list')
                     languages.forEach(function(language) {
                         selected = (language == defaultLanguage) ? 'selected' : ''
                         languageList.insertAdjacentHTML(
                             'beforeend', '<option value="' + language + '" ' + selected + '>' + language + '</option>'
                         )
                     })
                 }).catch(function(err) {
                     q('#message').textContent = 'Error: ' + err.message
                     q('#speak-button').disabled = false
                 })

             loadVoices(defaultLanguage)
         })
        </script>
    </body>
</html>
